/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 Feb, 2015, 3:40:51 PM
    Author     : APURVA
*/

#box {
    background-color: plum;
    height: 50px;
    margin: 10px 10px 10px 10px;
    width: 50px;

}
#response {
    margin: 100px 0 0 50px;
}